.center{
width: 100%;
height: 100%;
display: flex;
  flex-flow:row nowrap;
align-items: center;
jistify-content: center;
}
html,body{
  marpin:0;
  padding:0;
  height:100%
}
  .msg{
  font-size:64px;
  }
  
